body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #78b6e9;
    color: #0c2e60;
    background-image: url('img/robot_tea.png');
    background-size: cover; /* Это свойство помогает изображению занимать весь фон, сохраняя пропорции */
    background-position: center; /* Центрирование изображения на фоне */
    background-repeat: no-repeat; /* Избегание повторения изображения */
    background-attachment: fixed; /* Фиксированный фон */
    font-size: 18px;

}
header {
    background-color: #0c2e60;
    color: #78b6e9;
    padding: 20px 0;
    text-align: center;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.profile-photo {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
}

.container {
    max-width: 1000px;
    margin: 50px auto;
    padding: 30px;
    background-color: #85c3fc;
    box-shadow: 5px 5px 20px rgba(7, 2, 2, 0.7);
    border-radius: 15px;
    opacity: 0.8; /* Прозрачность 50% */
    color: #00080c;
}
.section {
    margin-bottom: 20px;
}
.section h2 {
    margin-top: 0;
}
.projects{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.project {
    flex: 1;
    min-width: 250px;


}
footer {
    text-align: center;
    padding: 20px 0;
    background-color: #0c2e60;
    color:  #78b6e9;
}
.contact-info {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.contact-item {
    flex: auto;
    min-width: 150px;
    max-width: 200px;
    text-align: center;
}

.contact-item a {
    font-size: 30px; /* Увеличение размера шрифта иконок */
    color: #21329f; /* Цвет иконок */
    text-decoration: none;
    transition: color 0.3s ease;
    min-width: 100px;
    max-width: 300px;
}


.contact-item a:hover {
    color: #2879a6; /* Цвет иконок при наведении */
}

/* Стили для всплывающего окна */
.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: auto;
    background-color: #1b265d;
    color: #97beef;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 125%; /* Позиция всплывающего окна */
    left: 50%;
    margin-left: -80px; /* Отцентрирование */
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
    content: '';
    position: absolute;
    top: 100%; /* Указывает на стрелку внизу */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}