body {
    font-family: 'Open Sans', sans-serif;    
    margin: 0;
    padding: 0;
    background-color: #78b6e9;
    color: #0c2e60;
    background-image: url('img/programming.jpg');
    background-size: cover; /* Это свойство помогает изображению занимать весь фон, сохраняя пропорции */
    background-position: center; /* Центрирование изображения на фоне */
    background-repeat: no-repeat; /* Избегание повторения изображения */
    background-attachment: fixed; /* Фиксированный фон */
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.3px;
}
p {
    text-indent: 20px; /* Отступ первой строки абзаца */
}
/** region Header */
header {
    background-color: #0c2e60;
    color: #78b6e9;
    padding: 20px 0;
    text-align: center;
    background: linear-gradient(to top  right, #0f3b7a, #00050c);
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;

}

.profile-photo {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
}
/** endregion */

/** region Main */
.main-nav {
    background-color: #0c2e60;
    background: linear-gradient(to top  left, #1352a6, #00050c);
    overflow: hidden;
    overflow-x: auto;
}

.main-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    overflow-x: auto;
}

.main-nav li {
    display: inline;
}

.main-nav a {
    display: block;
    color: #9ec7e8;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    border-radius: 15px;
}

.main-nav a:hover {
    background-color: #9ec7e8;
    color: #0c2e60;
}
/** endregion */


footer {
    font-size: 12px;
    background: linear-gradient(to top  right, #1853a8, #02132a);
}
/** region body */
.container {
    max-width: 1000px;
    margin: 50px auto;
    padding: 30px;
    background-color: #85c3fc;
    box-shadow: 5px 5px 20px rgba(7, 2, 2, 0.7);
    border-radius: 15px;
    opacity: 0.8;
    color: #00000c;
    text-align: justify; /* Выравнивание текста по ширине */
}

.section {
    margin-bottom: 20px;
}

.section h2 {
    margin-top: 0;
}
.projects{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
/*.project {*/
/*    !*flex: 1;*!*/
/*    min-width: 250px;*/
/*}*/

.project h4 {
    color: #0c2e60;
    margin-bottom: 10px;
}

.project p {
    margin-bottom: 10px;
}

.project a {
    color: #21329f;
    text-decoration: none;
}

.project a:hover {
    color: #2879a6;
}

.project ul {
    list-style-type: disc;
    padding-left: 20px;
}

.project ul li {
    margin-bottom: 5px;
}

.table-container {
    width: 100%;
    overflow-x: auto; /* Добавляет горизонтальную прокрутку при необходимости */
    border-radius: 10px; /* Радиус закругления */
}
/* Стилизация полосы прокрутки */
::-webkit-scrollbar {
    width: 12px; /* Ширина вертикальной полосы прокрутки */
    height: 12px; /* Высота горизонтальной полосы прокрутки */
}

/* Стилизация дорожки полосы прокрутки */
::-webkit-scrollbar-track {
    background: #a1d4f8; /* Цвет фона дорожки */
    border-radius: 10px; /* Радиус закругления дорожки */
}

/* Стилизация бегунка полосы прокрутки */
::-webkit-scrollbar-thumb {
    background-color: #0c2e60; /* Цвет бегунка */
    border-radius: 10px; /* Радиус закругления бегунка */
    border: 3px solid #85c3fc; /* Обводка бегунка, чтобы добавить пространство вокруг */
}

/* Стилизация бегунка при наведении */
::-webkit-scrollbar-thumb:hover {
    background-color: #21329f; /* Цвет бегунка при наведении */
}

table {
    /*width: 100%;*/
    min-width: 200px;
    border-collapse: collapse;
    margin-bottom: 20px;
    background-color: #f2f2f2;
    font-size: 15px;
    border-radius: 10px;
}

th, td {
    border: 1px solid #0c2e60;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #0c2e60;
    color: #78b6e9;

}

/*tr:nth-child(even) {*/
/*    background-color: #f2f2f2;*/
/*}*/
tr:hover {
    background-color: #5987c7;
    color: #f2f2f2;
}

.diploma-modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 60px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.9);
}

.diploma-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

@media only screen and (max-width: 700px) {
    .diploma-content {
        width: 100%;
    }
}

footer {
    text-align: center;
    padding: 20px 0;
    background-color: #0c2e60;
    color:  #78b6e9;
}
.contact-info {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.contact-item {
    flex: auto;
    min-width: 150px;
    max-width: 200px;
    text-align: center;
}

.contact-item a {
    font-size: 30px; /* Увеличение размера шрифта иконок */
    color: #21329f; /* Цвет иконок */
    text-decoration: none;
    transition: color 0.3s ease;
    min-width: 100px;
    max-width: 300px;
}


.contact-item a:hover {
    color: #2879a6; /* Цвет иконок при наведении */
}

/* Стили для всплывающего окна */
.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: auto;
    background-color: #1b265d;
    color: #97beef;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 125%; /* Позиция всплывающего окна */
    left: 50%;
    margin-left: -80px; /* Отцентрирование */
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
    content: '';
    position: absolute;
    top: 100%; /* Указывает на стрелку внизу */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}
/** endregion */